$primary: #0d457f; // rgb(13, 69, 127) Twilight blue
$secondary: #eafefc; // rgb(234, 254, 252) Light blue
$accent: #fdd908; // rgb(253, 217, 8) Dandelion
$dark: #002023; // rgb(0, 32, 35) colour picker (p font)
$white: #ffffff; // rgb(255, 255, 255) White

$baseFont: 'Roboto', sans-serif;
$headingFont: 'IM Fell English', serif;