//// FORMS ////

.commentForm {
    padding: 0 10%; 
    input, 
    textarea {
        color: $primary; 
    }
}

.halfWidth {
    display: flex; 
    justify-content: space-between;
}

.username, 
.useremail, 
.message  { 
    background: transparent;color: #fff; 
    border-bottom: none; 
    padding: 10px;
}

.username, 
.useremail {
    width: 48%;
    margin: 0 0 40px 0;
    border-top: none; 
    border-left: none; 
    border-right: none; 
    border-bottom: 2px solid $accent;  
    justify-content: space-between;
}

.message, 
.submit {
    width: 100%; 
    border: 2px solid $accent;  
}

.submit, 
.post, 
.readMore {
    font-size: 22.4px;
    text-align: center; 
    line-height: 41.6px;
    background: $accent; 
}

.post {
    color: $accent;
    background: $primary; 
}

 // CONTACT FORM CUSTOMIZATION //

.contactForm {
    padding: 10%; 
    background: $primary;
    margin-right: 100px;
    box-shadow: 15px 15px $accent;
    .submit {
        background: $accent;
        color: $primary; 
    }
    input, 
    textarea {
        color: #fff; 
    }
}