// GLOBAL STYLES //

body {
    background: $secondary;
    font-family: $baseFont;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: $dark; 
    h1, 
    h2, 
    h3,     
    h4 {
        font-family: $headingFont;
        font-style: italic; 
        text-transform: uppercase;
        margin: 0; 
    }
}

h1 {
    font-size: 79px;
    line-height: 100px; 
    color: $accent; 
}

h2 {
    font-size: 45px;
    line-height: 45px;
}

h3 {
    font-size: 40px; 
    line-height: 58px;
    letter-spacing: 1.3px;
    color: $secondary; 
}

h4 {
    font-size: 25px;
    line-height: 58px;
    letter-spacing: 0.8px;
    color: $accent; 
}

// GENERAL STYLES //

.wrapper, 
.modifiedWrapper, 
.articleWrapper {
    max-width: 1650px;
    padding: 0 100px; 
    margin: 0 auto; 
}

.modifiedWrapper {
    padding: 0;
}

.articleWrapper {
    padding: 100px; 
}

img {
    display: block; 
    width: 100%;
}

ul {
    list-style: none;
    padding: 0; 
}

a {
    text-decoration: none;
    color: #fff; 
    font-weight: 700; 
    text-align: center; 
    line-height: 29px;
    border-bottom: 3px solid transparent; 
    &:hover, 
    &:focus { 
        border-bottom: 3px solid $accent;
    }
}

.button {
    font-family: $headingFont;
    font-style: italic; 
    text-transform: uppercase; 
    margin-top: 10px; 
    border: 3px solid transparent;
    padding: 10px 20px;
}

.accentButton {
    background: $accent; 
    color: $dark;
    &:hover,
    &:focus {
        border: 3px solid white; 
    }
}

.primaryButton {
    background: $primary; 
    color: $accent; 
    &:hover,
    &:focus {
        border: 3px solid black; 
    }
}