header {
    height: 85vh; 
    background-image: url("../images/home-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    h1, 
    img {
        width: 50%;
    }
}

header img {
    position: absolute; 
    bottom: -100px; 
    right: 0; 
}

header ul {
    display:flex;
    li {
        width: 100px; 
    }
}

.homeContainer {
    display:flex; 
    flex-direction: column; 
    align-content: space-between;
    // need to prevent collapse between nav & h1 that's not paddint-top 250px (below)***********
}

nav {
    padding-top: 50px; 
}

h1 {
    padding-top: 300px; 
}