// GENERAL HEADER STYLES //

header {
    background-image: url("../images/home-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.blogHeader, 
.contactHeader {
    h1 {
        color: white; 
        padding: 10% 0 20% 0;
    }
}

.blogHeader {
    background-image: url("../images/blog-header.jpg");
}

.contactHeader {
    background-image: url("../images/contact-header.jpg");
}

// NAV STYLES //

.mainMenu {
    display: flex;
    padding-top: 10%;
    li {
        padding-right: 50px; 
    }
}

// HEADER CONTAINER (HOME) //

.homeContainer {
    display: flex;
    flex-wrap: wrap; 
    position: relative;
    .homeLeft { 
        width: 40%;
        display: flex; 
        flex-direction: column;
        justify-content: space-between; 
        h1 {
            padding: 20% 0 10% 0;
        }
    }
    .featureImage { 
        object-fit: contain; 
        width: 60%;
        position: relative; 
        bottom: -170px; 
        right: -100px; 
    }
}