// RESOURCES SECTION //

.resourcesContainer {
    padding: 15% 0 5%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    li {
        width: 48%;
        display: flex;
    }
    .icon {
        width: 50px;
        height: 50px;
        background: $accent; 
        border-radius: 100%; 
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    .info {
        width: calc(100% - 50px);
        padding-left: 15px; 
        margin-bottom: 5%;
    }
}


// ABOUT SECTION //

.about {
    background: $primary; 
    color: white;
    .button {
        color: $primary; 
        background: $accent;
    }
}

.aboutContainer {
    display: flex;
    .aboutLeft, 
    .aboutRight {
        width: 50%;
    }
    img {
        position: relative; 
    }
    .leftImage {
        box-shadow: 15px 15px $accent;
        left: -100px;
        top: -40px;
    }
    .rightImage {
        box-shadow: -15px 15px $accent;
        left: 100px;
        top: 40px;
    }
    .aboutInfo {
        padding: 15%; 
    }
}

// ARTICLES SECTION //

.featureArticle {
    text-align: center;
}

.featureBanner {
    max-width: 1650px;
    margin: 0 auto; 
}

.previewArticle {
    display: flex;
    img {
        width: 300px; 
        height: 300px;
        box-shadow: -15px 15px $accent;
    }
    .previewInfo {
        margin-left: 5%; 
    }
}

// GALLERY SECTION //

.gallery {
    background: $primary; 
    padding: 5% 0;
}

.galleryContainer {
    display: flex; 
    justify-content: space-between;
    padding: 0 100px; 
    li {
        width: 31%; 
    }
}