html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background: #eafefc;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #002023;
}

body h1,
body h2,
body h3,
body h4 {
  font-family: "IM Fell English", serif;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 79px;
  line-height: 100px;
  color: #fdd908;
}

h2 {
  font-size: 45px;
  line-height: 45px;
}

h3 {
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 1.3px;
  color: #eafefc;
}

h4 {
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 0.8px;
  color: #fdd908;
}

.wrapper,
.modifiedWrapper,
.articleWrapper {
  max-width: 1650px;
  padding: 0 100px;
  margin: 0 auto;
}

.modifiedWrapper {
  padding: 0;
}

.articleWrapper {
  padding: 100px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
  line-height: 29px;
  border-bottom: 3px solid transparent;
}

a:hover, a:focus {
  border-bottom: 3px solid #fdd908;
}

.button {
  font-family: "IM Fell English", serif;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 10px;
  border: 3px solid transparent;
  padding: 10px 20px;
}

.accentButton {
  background: #fdd908;
  color: #002023;
}

.accentButton:hover, .accentButton:focus {
  border: 3px solid white;
}

.primaryButton {
  background: #0d457f;
  color: #fdd908;
}

.primaryButton:hover, .primaryButton:focus {
  border: 3px solid black;
}

header {
  background-image: url("../images/home-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blogHeader h1,
.contactHeader h1 {
  color: white;
  padding: 10% 0 20% 0;
}

.blogHeader {
  background-image: url("../images/blog-header.jpg");
}

.contactHeader {
  background-image: url("../images/contact-header.jpg");
}

.mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
}

.mainMenu li {
  padding-right: 50px;
}

.homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.homeContainer .homeLeft {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeContainer .homeLeft h1 {
  padding: 20% 0 10% 0;
}

.homeContainer .featureImage {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
  position: relative;
  bottom: -170px;
  right: -100px;
}

.commentForm {
  padding: 0 10%;
}

.commentForm input,
.commentForm textarea {
  color: #0d457f;
}

.halfWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.username,
.useremail,
.message {
  background: transparent;
  color: #fff;
  border-bottom: none;
  padding: 10px;
}

.username,
.useremail {
  width: 48%;
  margin: 0 0 40px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fdd908;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.message,
.submit {
  width: 100%;
  border: 2px solid #fdd908;
}

.submit,
.post,
.readMore {
  font-size: 22.4px;
  text-align: center;
  line-height: 41.6px;
  background: #fdd908;
}

.post {
  color: #fdd908;
  background: #0d457f;
}

.contactForm {
  padding: 10%;
  background: #0d457f;
  margin-right: 100px;
  -webkit-box-shadow: 15px 15px #fdd908;
          box-shadow: 15px 15px #fdd908;
}

.contactForm .submit {
  background: #fdd908;
  color: #0d457f;
}

.contactForm input,
.contactForm textarea {
  color: #fff;
}

.resourcesContainer {
  padding: 15% 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resourcesContainer li {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resourcesContainer .icon {
  width: 50px;
  height: 50px;
  background: #fdd908;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resourcesContainer .info {
  width: calc(100% - 50px);
  padding-left: 15px;
  margin-bottom: 5%;
}

.about {
  background: #0d457f;
  color: white;
}

.about .button {
  color: #0d457f;
  background: #fdd908;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutContainer .aboutLeft,
.aboutContainer .aboutRight {
  width: 50%;
}

.aboutContainer img {
  position: relative;
}

.aboutContainer .leftImage {
  -webkit-box-shadow: 15px 15px #fdd908;
          box-shadow: 15px 15px #fdd908;
  left: -100px;
  top: -40px;
}

.aboutContainer .rightImage {
  -webkit-box-shadow: -15px 15px #fdd908;
          box-shadow: -15px 15px #fdd908;
  left: 100px;
  top: 40px;
}

.aboutContainer .aboutInfo {
  padding: 15%;
}

.featureArticle {
  text-align: center;
}

.featureBanner {
  max-width: 1650px;
  margin: 0 auto;
}

.previewArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.previewArticle img {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: -15px 15px #fdd908;
          box-shadow: -15px 15px #fdd908;
}

.previewArticle .previewInfo {
  margin-left: 5%;
}

.gallery {
  background: #0d457f;
  padding: 5% 0;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.galleryContainer li {
  width: 31%;
}

.blogContainer,
.contactContainer {
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}

.contactArticle,
.blogArticle {
  width: 70%;
  position: relative;
  top: -350px;
  margin-bottom: -350px;
}

.contactArticle img,
.blogArticle img {
  -webkit-box-shadow: -15px 15px #fdd908;
          box-shadow: -15px 15px #fdd908;
  position: relative;
}

.blogArticle {
  position: relative;
  left: 0;
}

.blogArticle .blogArticleInfo {
  padding: 10%;
  border: 5px solid #fdd908;
  border-right: transparent;
}

.blogComment {
  padding: 10%;
}

.blogComment h2 {
  margin-bottom: 5%;
}

.blogComment .comment1,
.blogComment .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogComment .comment1 p,
.blogComment .comment2 p {
  margin-left: 5%;
  margin-top: 0;
}

.blogComment .comment1 .profilePic,
.blogComment .comment2 .profilePic {
  width: 100px;
  height: 100px;
  padding-right: 2px;
  padding-bottom: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blogAside,
.contactAside {
  margin: 0 100px;
  width: 30%;
  position: relative;
}

.blogAside img,
.contactAside img {
  position: relative;
  left: -100px;
  width: 120%;
}

.blogAsideInfo {
  background: #0d457f;
  color: white;
  padding: 520px 50px 30px 50px;
  position: relative;
  top: -480px;
  z-index: -1;
}

.blogAsideInfo .recentPosts {
  list-style-type: disc;
  list-style-position: inside;
  color: white;
  margin: 0;
}

.socialInfo,
.contactInfo {
  padding: 0 10%;
}

.socialInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialInfo i {
  color: #0d457f;
}

.contactInfo a {
  color: #002023;
}

footer {
  background: #fdd908;
  text-align: center;
}

footer p {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1400px) {
  .homeContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .homeContainer .homeLeft {
    width: 60%;
  }
  .homeContainer img.featureImage {
    width: 40%;
  }
  .resourcesContainer {
    padding: 10% 0 5%;
  }
  .blogContainer,
  .contactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactArticle,
  .blogArticle,
  .blogAside,
  .contactAside {
    width: 100%;
    margin: auto;
    position: static;
  }
  .blogArticle img {
    max-height: 40vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0 auto;
  }
  .blogAside,
  .contactAside {
    margin-top: 5%;
  }
  .blogAside img,
  .contactAside img {
    display: none;
  }
  .blogAsideInfo,
  .blogArticleInfo {
    padding: 15%;
    position: static;
  }
  .contactForm {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1120px) {
  .homeContainer .homeLeft {
    width: 100%;
  }
  .featureImage {
    display: none;
  }
  .resourcesContainer li {
    width: 100%;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutContainer .aboutLeft,
  .aboutContainer .aboutRight {
    width: 100%;
    text-align: center;
  }
  .aboutContainer .aboutLeft .aboutInfo,
  .aboutContainer .aboutRight .aboutInfo {
    padding: 10% 0;
  }
  .aboutContainer .aboutLeft .rightImage,
  .aboutContainer .aboutLeft .leftImage,
  .aboutContainer .aboutRight .rightImage,
  .aboutContainer .aboutRight .leftImage {
    display: none;
  }
}

@media only screen and (max-width: 1120px) and (max-width: 800px) {
  .wrapper,
  .modifiedWrapper,
  .articleWrapper {
    padding: 0 50px;
  }
  h1 {
    font-size: 60px;
    line-height: 60px;
  }
  h2,
  h3,
  h4 {
    font-size: 28px;
    line-height: 35px;
  }
  .featureArticle,
  .previewArticle {
    margin: 15% 0;
  }
  .galleryContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .galleryContainer li {
    width: 100%;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 1120px) and (max-width: 800px) and (max-width: 560px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  h2,
  h3,
  h4 {
    font-size: 20px;
    line-height: 25px;
  }
  p,
  a {
    font-size: 16px;
    line-height: 26px;
  }
  .mainMenu li {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1120px) and (max-width: 800px) {
  .previewArticle {
    text-align: center;
  }
  .previewArticle img {
    display: none;
  }
}

@media only screen and (max-width: 1120px) {
  .profilePic {
    display: none;
  }
  .halfWidth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .halfWidth .username,
  .halfWidth .useremail {
    width: 100%;
  }
  .submit,
  .post,
  .readMore {
    font-size: 16px;
  }
}
